
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HotelApi_.Models.Autentification.RegisterUser
@{
    ViewBag.Title = "Sign Up";
}

@using (Html.BeginForm("SignUp", "SignUp"))
{
    <div class="Container">
        <div class="login">
            <h1>
                Register
            </h1>
            <div>
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name" })
                <br/>
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                <br/>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                @Html.PasswordFor(m =>m.ConfirmPassword, new { placeholder = "Confirm Password" })
                <br/>
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <p class="submit">
                <input type="submit" value="Register" />
            </p>
            <p class="validationMessage">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </p>
        </div>
    </div>
}