
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model HotelApi_.Models.Autentification.User
@{
    ViewBag.Title = "Sign Up";
}

@using (Html.BeginForm(new { ReturnUrl = "/Login/Login" }))
{
    <div class="Container">
        <div class="login">
            <h1>
                Register
            </h1>
            <p>
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.UserName)
            </p>
            <p>
                @Html.PasswordFor(m => m.Password, new {placeholder = "Password"})
                @Html.ValidationMessageFor(m => m.Password)
            </p>
            <p>@Html.PasswordFor(m => m.Password,new {placeholder="Confirm Password"})</p>
            <p class="submit">
                <input type="submit" value="Log in" />
            </p>
            <p class="validationMessage">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </p>
        </div>
    </div>
}